.gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  cursor: url('./bxs_hand-down.png'), pointer;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.mobil-window {
  max-width: 1112px;
  min-height: 640px;
  margin: 0 auto;
  padding: 28px 164px;
  background-color: (46, 47, 66, 0.8);
}
